{% extends "master.html" %}
{% load static %}

{% block title %}
  IP 控管主頁
{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 5em;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="{% url 'login' %}" class="form-signin">
                    {% csrf_token %}
                    <h2 class="text-center">登入</h2>
                    {% if error_message %}
                        <p class="text-danger">{{ error_message }}</p>
                    {% endif %}
                    <div class="form-group">
                        <label for="id_username">使用者名稱:</label>
                        <input type="text" name="username" id="id_username" class="form-control" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="id_password">密碼:</label>
                        <input type="password" name="password" id="id_password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">登入</button>
                </form>
                <div class="text-center" style="margin-top: 1em;">
                    <p>還沒有帳戶？ <a href="/account/register">註冊</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

