.jumbotron-container {
    height: 100vh;
}

.jumbotron { 
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/rocket_notext.png");
    background-size: cover;
    height: 100%;
    align-items: center;
}

/* Bootstrap 顏色很難改，直接用 custom */
/* 文字請用 text-light */

.custom-bg-primary {
    background-color: #303030;
}

.custom-bg-secondary {
    background-color: #404550;
}

.custom-primary {
    color: #49E890;
}

.custom-nav-primary > li > a {
    color: #50E890;
}


.custom-nav-primary > ul > li > button {
    color: #50E890;
}

a.nav-link:hover {
    color: #3ca266;
}

button.nav-link:hover {
    color: #3ca266;
}

.custom-body {
    color: #49E890;
}

.custom-message {
    color: #49E890;
}

.custom-input input {
    background-color: #404550;
    color: #FFF;
}
