{% extends "master.html" %}
{% load static %}

{% block title %}
  修改IP資訊
{% endblock %}

{% block content %}
<div class="container text-light">
    {% if messages %}
        <div id="success-message">
            <ul class="custom-messages">
                {% for message in messages %}
                    {% if message.tags %}
                        {{ message }}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <script>
            // 隱藏成功消息
            setTimeout(function() {
                var successMessage = document.getElementById('success-message');
                if (successMessage) {
                    successMessage.style.display = 'none';
                }
            }, 3000);
        </script>
    {% endif %}

    <h2>修改 IP 資訊：{{ ip.ip }}</h2>
    <div class="mt-3 mb-5">
        <form class="custom-form" method="post" action="{% url 'ip_edit' ip_str=ip.ip %}">
            {% csrf_token %}
            <div class="mb-2">
                <label for="service">服務種類：</label>
                <input type="text" id="service" name="service" value="{{ ip.service }}">
            </div>
            <div class="mb-2">
                <label for="product">軟體名稱：</label>
                <input type="text" id="product" name="product" value="{{ ip.product }}">
            </div>
            <div class="mb-2">
                <label for="os">OS：</label>
                <input type="text" id="os" name="os" value="{{ ip.os }}"><br>
            </div>
            <div class="mb-2">
                <label for="unix_like">是否為 Unix 系統：</label>
                <input type="checkbox" id="unix_like" name="unix_like" {% if ip.unix_like %}checked{% endif %}><br>
            </div>
            <div class="mb-2">
                <label for="owner_id">擁有者：</label>
                <select id="owner" name="owner_id">
                {% for owner in owners %}
                    <option value="{{ owner.id }}" {% if owner.id == ip.owner_id %}selected{% endif %}>{{ owner.name }}</option>
                {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn custom-btn-primary" value="儲存">
        </form>
    </div>
    <p>回到<a href="/ip/overview">所有 IP</a></p>
    </div>
    {% endblock %}

