{% extends "master.html" %}
{% load static %}

{% block title %}
  IP 控管主頁
{% endblock %}



{% block content %}
<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">IP</th>
          <th scope="col">服務種類</th>
          <th scope="col">軟體名稱</th>
          <th scope="col">OS</th>
        </tr>
      </thead>
    {% for ip in all_ip %}
      <tbody>
        <tr>
          <td>{{ ip.ip }}</td>
          <td>{{ ip.service }}</td>
          <td>{{ ip.product }}</td>
          <td>{{ ip.os }}</td>
        </tr>
      </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}
