{% extends "master.html" %}
{% load static %}

{% block title %}
  IP 控管主頁
{% endblock %}

{% block content %}
<div class="container">
    <div id="ip-bar" class="mt-4">
        <div id="search-bar">
            <form id="search-form" action="/ip/overview">
                    <input type="text" name="ip_query" placeholder="搜尋 IP...">
                    <input type="hidden" id="current_filter" name="current_filter" value="overview">
                    <input class="btn custom-btn-primary ms-2 mt-1 mb-2" type="submit" value="搜尋">
            </form>
        </div>
        <div class="text-light" id="total-ip">
            <p>此類別的 IP 數量：<span id="ipCountSpan">{{ data|length }}</span></p>
        </div>
    </div>


      
    <div class="mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link ip-tab active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">所有 IP</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link ip-tab" id="iot-tab" data-bs-toggle="tab" data-bs-target="#iot" type="button" role="tab" aria-controls="iot" aria-selected="false">物聯網設備</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link ip-tab" id="network-tab" data-bs-toggle="tab" data-bs-target="#network" type="button" role="tab" aria-controls="network" aria-selected="false">網路設備</button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link ip-tab" id="nas-tab" data-bs-toggle="tab" data-bs-target="#nas" type="button" role="tab" aria-controls="nas" aria-selected="false">NAS</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link ip-tab" id="vm-tab" data-bs-toggle="tab" data-bs-target="#vm" type="button" role="tab" aria-controls="vm" aria-selected="false">VM</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link ip-tab" id="windows-tab" data-bs-toggle="tab" data-bs-target="#windows" type="button" role="tab" aria-controls="windows" aria-selected="false">Windows</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link ip-tab" id="unix-tab" data-bs-toggle="tab" data-bs-target="#unix" type="button" role="tab" aria-controls="unix" aria-selected="false">Unix</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link ip-tab" id="office-tab" data-bs-toggle="tab" data-bs-target="#office" type="button" role="tab" aria-controls="office" aria-selected="false">辦公電腦</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link ip-tab" id="unknown-tab" data-bs-toggle="tab" data-bs-target="#unknown" type="button" role="tab" aria-controls="unknown" aria-selected="false">待確認</button>
            </li>

    </div>
        </ul>

            <div class="tab-content text-light" id="myTabContent">
                <div class="tab-pane fade show active" id="overview" aria-controls="overview" role="tabpanel" aria-labelledby="overview-tab"></div>
                <div class="tab-pane fade" id="iot" aria-controls="iot" role="tabpanel" aria-labelledby="iot-tab"></div>
                <div class="tab-pane fade" id="nas" aria-controls="nas" role="tabpanel" aria-labelledby="nas-tab"></div>
                <div class="tab-pane fade" id="vm" aria-controls="vm" role="tabpanel" aria-labelledby="vm-tab"></div>
                <div class="tab-pane fade" id="network" aria-controls="network" role="tabpanel" aria-labelledby="network-tab"></div>
                <div class="tab-pane fade" id="windows" aria-controls="windows" role="tabpanel" aria-labelledby="windows-tab"></div>
                <div class="tab-pane fade" id="unix" aria-controls="unix" role="tabpanel" aria-labelledby="unix-tab"></div>
                <div class="tab-pane fade" id="unknown" aria-controls="unknown" role="tabpanel" aria-labelledby="unknown-tab"></div>
                <div class="tab-pane fade" id="office" aria-controls="office" role="tabpanel" aria-labelledby="office-tab"></div>
            </div>

            <div class="tab-pane fade show active d-flex justify-content-between" aria-controls="overview" role="tabpanel" aria-labelledby="overview-tab">
            <div id="ipTable"></div>
        </div>
    </div>
    


</div>


</div>

<script>

var owners = [];
var data = [];
const is_staff = {{ user.is_staff|lower }};


{% for owner in owners %}
    var obj = {
        "id": {{ owner.id }},
        "name": "{{ owner.name }}",
        "unit": "{{ owner.unit }}",
        "exit": "{{ owner.ext }}",
    };
    owners.push(obj);
{% endfor %}

{% for item in results %}
    var owner_id = {{ item.owner_id }};
    var owner_name = "";
    owners.forEach(function (owner, index){
        if(owner.id == owner_id) owner_name = owner.name;
    }) 
    var obj = {
        "ip": "{{ item.ip }}",
        "service": "{{ item.service }}",
        "product": "{{ item.product }}",
        "os": "{{ item.os }}",
        "unix_like": {{ item.unix_like|lower }},
        "owner_id": owner_id,
        "owner_name": owner_name,
    };
    data.push(obj);
{% endfor %}

const initialIpCount = data.length;
$('#ipCountSpan').text(initialIpCount);


if(is_staff) renderTableStaff('overview', 'overview');
else renderTable('overview', 'overview');
$('#current_filter').val('overview');

function filterData(criteria) {
    return data.filter(item => {
        // no column for iot
        if (criteria === 'iot') {
            return item.service === "印表機"
                || item.service === "攝影機";
        }
        /* 先算在 network 裡面
        else if(criteria === 'server'){
            return item.service === "伺服器主機";
        }
        */
        else if(criteria === 'nas'){
            return item.service === "NAS";
        }
        else if (criteria === 'unknown') {
            return item.service === "待確認";
        }
        else if (criteria === 'vm') {
            return item.service === "VM";
        }
        else if (criteria === 'network') {
            return item.service === "無線網路基地台"
                || item.service === "伺服器主機";
        }
        else if (criteria === 'windows') {
            return item.os.includes("Windows");
        }
        else if (criteria === 'unix') {
            return item.unix_like === true;
        }
        else if (criteria === 'office') {
            return item.service === "辦公電腦";
        }
        else if(criteria == 'overview') return true; // overview
        else return false;
    });
}


function renderTable(tabId, criteria) {
    const filteredData = filterData(criteria);
    var tableHtml = `<table class="table table-striped table-dark">
                        <thead>
                            <tr>
                            <th scope="col">IP</th>
                            <th scope="col">服務種類</th>
                            <th scope="col">軟體名稱</th>
                            <th scope="col">OS</th>
                        </thead>
                        <tbody>
                        ${filteredData.map(item => `
                            <tr>
                                <td>${item.ip}</td>
                                <td>${item.service}</td>
                                <td>${item.product}</a></td>
                                <td>${item.os}</td>
                            </tr>`).join('')}
                        </tbody>
                        </table>`;
    $(`#${tabId}`).html(tableHtml);
}

function renderTableStaff(tabId, criteria){
    if(!is_staff) return;
    const filteredData = filterData(criteria);
    var tableHtml = `<table class="table table-striped table-dark">
                        <thead>
                            <tr>
                            <th scope="col">IP</th>
                            <th scope="col">服務種類</th>
                            <th scope="col">軟體名稱</th>
                            <th scope="col">OS</th>
                            <th scope="col">Unix 系統</th>
                            <th scope="col">擁有者</th>
                            <th scope="col"></th>
                        </thead>
                        <tbody>
                        ${filteredData.map(item => `
                            <tr>
                                <td>${item.ip}</td>
                                <td>${item.service}</td>
                                <td>${item.product}</td>
                                <td>${item.os}</td>
                                <td>${item.unix_like ? "是" : "否"}</td>
                                <td><a href="/owner/details/${item.owner_id}">${item.owner_name}</td>
                                <td><a href="/ip/edit/${item.ip}">編輯</a></td>
                                <td>
                            </tr>`).join('')}
                                
                        </tbody>
                        </table>`;
    $(`#${tabId}`).html(tableHtml);

}


$('.ip-tab').on('click', function (e) {
    e.preventDefault();
    const tabId = $(this).attr('aria-controls');
    const criteria = $(this).attr('id').split('-')[0];
    $('#current_filter').val( $(this).attr('aria-controls'));
    // 計算 IP 數量
    const filteredData = filterData(criteria);
    const ipCount = filteredData.length;
    $('#ipCountSpan').text(ipCount);

    if(is_staff) renderTableStaff(tabId, criteria);
    else renderTable(tabId, criteria);
});


document.getElementById("search-form").addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
        event.preventDefault(); // Prevents default Enter key behavior (like new line)
        document.getElementById("search-form").submit(); // Submits the form
    }
});

</script>

{% endblock %}
