{% extends "master.html" %}
{% load static %}

{% block title %}
  IP 控管主頁
{% endblock %}



{% block content %}
<div class="container">
    <form action="/ip/overview">
        <input type="text" name="ip_query" placeholder="Search IP...">
        <input type="submit" value="搜尋">
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">IP</th>
          <th scope="col">服務種類</th>
          <th scope="col">軟體名稱</th>
          <th scope="col">OS</th>
          {% if user.is_staff %}
          <th scope="col">unix_like</th>
          <th scope="col">owner</th>
          {% endif %}
        </tr>
      </thead>

    {% for ip in results %}
      <tbody>
        <tr>
          <td>{{ ip.ip }}</td>
          <td>{{ ip.service }}</td>
          <td>{{ ip.product }}</td>
          <td>{{ ip.os }}</td>
          {% if user.is_staff %}
          <td>{{ ip.unix_like }}</td>
          {% for owner in owners %}
            {% if owner.id == ip.owner_id %}
            <td><a href="/owner/details/{{ owner.id }}">{{ owner.name }}</a></td>
            {% endif %}
          {% endfor %}
          {% endif %}
        </tr>
      </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}
