{% extends "master.html" %}
{% load static %}

{% block title %}
  修改擁有者資訊
{% endblock %}

{% block content %}
<div class="container text-light">
    {% if messages %}
        <div id="success-message">
            <ul class="custom-messages">
                {% for message in messages %}
                    {% if message.tags %}
                        {{ message }}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <script>
            // 隱藏成功消息
            setTimeout(function() {
                var successMessage = document.getElementById('success-message');
                if (successMessage) {
                    successMessage.style.display = 'none';
                }
            }, 3000);
        </script>
    {% endif %}

    <h1>修改擁有者資料</h1>

    <form class="mb-5" method="post" action="{% url 'owner_edit' owner_id=owner.id %}">
        {% csrf_token %}
        <div class="mb-2">
            <label for="name">姓名：</label>
            <input type="text" id="name" name="name" value="{{ owner.name }}">
        </div>
        <div class="mb-2">
            <label for="unit">科系：</label>
            <input type="text" id="unit" name="unit" value="{{ owner.unit }}">
        </div>
        <div class="mb-3">
            <label for="ext">分機：</label>
            <input type="text" id="ext" name="ext" value="{{ owner.ext }}">
        </div>

        <input class="btn custom-btn-primary" type="submit" value="儲存">
    </form>

    <p>回到<a href="{% url 'owner_details' owner_id=owner.id %}">擁有者資料</a></p>
</div>
{% endblock %}

