{% extends "master.html" %}
{% load static %}

{% block title %}
  IP 控管主頁
{% endblock %}


{% block content %}
<div class="jumbotron p-5 mt-2">
    <h1 class="display-4">巴巴山 IP 控管</h1>
    <p class="lead">輕鬆管理所有設備</p>
</div>
<div class="container mt-2">
  <div class='row'>
    <div class="col-md-12">
        <h2 class='text-success'>About</h2>
        {% if not user.is_authenticated %}
        <p>
          歡迎加入我們的網站！作為我們網球俱樂部的會員
          <a href="/account/login" class="btn btn-primary">登入</a>  
        </p>
        {% endif %}
    </div>
  </div>    
</div>
{% endblock %}
